<h2>Cadastro Alunos</h2>

<form (submit)="cadastrarAluno($event)">

    <input type="text" placeholder="Nome do aluno" [formField]="alunoForm.nome">

    @if (alunoForm.nome().touched() && alunoForm.nome().invalid()) {
        @for (error of alunoForm.nome().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <input type="text" placeholder="Média" [formField]="alunoForm.media" inputmode="numeric">

    @if (alunoForm.media().touched() && alunoForm.media().invalid()) {
        @for (error of alunoForm.media().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <button>Cadastrar</button>

</form>

<div class="alunos-grid">
  @for ( aluno of alunos(); track aluno.nome ) {
    <div class="aluno-card">
      <div class="aluno-info">
        <h3>{{ aluno.nome }}</h3>
        <p><strong>Média:</strong> {{ aluno.media }}</p>
      </div>

      @if (aluno.media != null) {
        @if (aluno.media >= 7) {
          <span class="status aprovado">Aprovado</span>
        } @else {
          <span class="status reprovado">Reprovado</span>
        }
      }
    </div>
  }
</div>